@keyframes left-expand {
    from { width: 50%; opacity: 0;}
    to { width: 100%; opacity: 1;}
}

@keyframes scale-up {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes top-expand {
    from { height: 50%; opacity: 0; }
    to { height: 100%; opacity: 1; }
}

.animation1 {
    animation: left-expand 1s;
}

.animation2 {
    animation: scale-up 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.animation3 {
    animation: top-expand 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}