@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero Message background */
.hm_bg {
    background-color: rgba(255, 255, 255, .38);
}

.container {
    padding: 5% 10%;
}

.hero-font {
    font-family: "neo latina";
    color: rgb(15, 91, 144);
    text-transform: uppercase;
    line-height: 0.833;
}

.h1-font {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.h2-font {
    font-size: 18px;
    line-height: 1.333;
}

.c-border {
    color: rgba(35, 61, 116, 0.149);
}


/* Heading Colors */
.c-main {
    color: rgb(15, 117, 188);
}

.c-secondary {
    color: rgb(247, 148, 30);
}

.c-sub {
    color: rgb(2, 44, 73);
}

.c-main-footer {
    color: rgb(35, 61, 166);
}

/* Background Colors */

bg-main:hover {
    background-color: rgb(15, 117, 188);
}




m-10 {
    margin: 0 10%;
}



w-100 {
    width: 100px;
}

w-150 {
    width: 150px;
}

w-200 {
    width: 200px;
}
w-250 {
    width: 250px;
}

w-300 {
    width: 300px;
}
w-350 {
    width: 350px;
}
w-400 {
    width: 400px;
}
w-500 {
    width: 500px;
}
w-600 {
    width: 600px;
}
w-700 {
    width: 700px;
}

w-800 {
    width: 800px;
}

w-900 {
    width: 900px;
}